*,
::before,
::after{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right:  auto;
    margin-left:  auto;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

a {
text-decoration: none;
}

ul{
    list-style-type: none;
}

/* HEADER */

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;;
    letter-spacing: 0.03em;
    color: #4d5ae5;

    
   
}

.logo-nav span {
    color: #2e2f42;
}

.nav-links {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42
}

.nav-links-item{
    padding: 24px 0;
}

address {
    font-style: normal;
}

.contacts a {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455 ;
}

.nav-links:hover, 
.nav-links:focus
{
    color: #404bbf;
}



.contacts-list:hover,
.contacts-list:focus 
{
    color: #404bbf;
}

.container-header {
    display: flex;
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1158px;
    
}
.header-container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;

}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {

    display: flex;
    margin-right: 76px;
    
}
.nav-links-list {

    margin-right: 332px;
    display: flex;
    gap: 40px; 
    padding: 24px 0;
    
}

.contacts {
    display: flex;
    justify-content: flex-end;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
   
    
}

.contacts-list-item {
    display: flex;
}

/* HERO */

.hero {
        background-color: #2E2F42;
        height: 600px;
        display: flex;
        align-items: center;
        padding: 188px 0;
        
         
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #FFFFFF;
    font-family: var(--font-family);
    text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        margin-right: 316px;
        margin-left: 316px;
        max-width: 496px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    margin-top: 48px;
    flex-basis: 169px;
    max-height: 56px;
    max-width: 169px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
}
       
        

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/* ADVANTAGES */

.advantages{
    /* border: 10px solid red; */
    padding: 120px 0;
}

.advantages-title {
    font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-align: center; 
        width: 1158px;
        margin-bottom: 8px;
      
}

  .visually-hidden {
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
  }

.advantages-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: calc((100% - 72px) / 4);
    justify-content: flex-end;
    width: 1158px;
    margin-top: 60px;
    margin-bottom: 100px;
    .visually-hidden
}
           
.advantages-list-item{
    /* border: 10px solid orange; */
    display: flex;
    flex-direction: column;
    

}

.advantages-list-title{
    /* border: 10px solid blue; */
        font-weight: 500;
        font-size: 20px;
         line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        align-items: left;
}

.advantages-list-text{
    /* border: 10px solid green; */
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;;
        
            
        
}

/* TEAM */
.team{
    background-color: #F4F4FD;
}

.team-list{
    background-color: #FFFFFF;
}

.team-title{
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42; 
}

.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-list-text{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-item-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.portfolio-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
   background-color:  #2E2F42;   
}

.logo-studio{
    
            font-family: "Raleway",
                    sans-serif;
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 1.17;
                ;
                letter-spacing: 0.03em;
                color: #4d5ae5;
}

.logo-studio-span {
    color: #F4F4FD;
}   


.footer-text {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

